// Background
$color__background-body: #F3EFE3;
$color__background-hr: #000000;
$color__background-button: #000000;

// Text
$color__text-screen: #000000;
$color__text-input: #000000;
$color__text-input-focus: #000000;

// Links
$color__link: #000000;
$color__link-visited: #8C8C8C;
$color__link-hover: #8C8C8C;
$color__text-main: #000000;

// Button
$black: #000000;
$white: #F3EFE3;
$grey: #8C8C8C;