// https://codepen.io/alvarotrigo/pen/MWEJEWG

header.top-nav {
    // Fixed
    position: fixed;
    z-index: 10;
    top: 2%;
    // Font
    text-align: center;
    // Centrer
    left: 50%;
    transform: translateX(-50%);
    // Taille
    width: 90%;
    padding: 1rem 3rem;
    // Couleur
    background-color: $black;
    /* Flex */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    span {
        // Font
        text-align: left;
        font-size: 1rem;
        font-weight: $font-weight-black;
        // Taille box
        width: 20%;
        // Couleurs
        color: $white;
        border-right: 6px solid $white;
        color: $white;

        @include responsive("md-desktop") {
            width: 100%;
            border: none;
            font-size: 3.3vw;
        }

        @include responsive("sm-phone") {
            font-size: .8rem;
        }
    }

    nav {
        width: 90%;

        ul {
            // Flex
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // Marges
            margin-left: 3rem;
            // Transition
            transition: all 0.5s ease;

            a {
                color: $white;
                // Soulignement
                -webkit-text-decoration-color: $white;
                text-decoration-color: $white;
                -webkit-text-decoration-line: none;
                text-decoration-line: none;
            }

            [aria-current] {
                -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
            }

            //-------------------------
            // Responsive
            //-------------------------
            @include responsive("md-desktop") {
                margin-left: 0;
            }
        }

        @include responsive("md-desktop") {
            width: 0;
        }
    }

    //-------------------------
    // Responsive
    //-------------------------
    @include responsive("sm-phone") {
        padding: 1rem 1rem;
    }
}

#menu>li {
    margin: 0;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button {
    right: 3rem;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: $white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@include responsive("md-desktop") {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 1px;
        margin-top: 37px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: $white;
        background-color: $black;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}