/*************** Menu ordinateur ***************/

header.header {
    // Fixed
    position: fixed;
    z-index: 10;
    top: 2%;
    // Centrer
    left: 50%;
    transform: translateX(-50%);
    // Taille
    width: 90%;
    padding: 1rem 3rem;
    // Couleur
    background-color: $black;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        // Font
        font-size: 1rem;
        // Taille box
        width: 20%;
        // Marges
        //  margin-right: 3rem;
        // Couleurs
        color: $white;
        // background-color: red;
        border-right: 6px solid $white;

        a {
            color: $white;
        }
    }

    nav {
        width: 90%;
    }

    nav {

        ul {
            // Flex
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // Marges
            margin-left: 3rem;
            // Transition
            transition: all 0.5s ease;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}


/*************** Menu burger ***************/
header button {
    color: $white;
    border: none;
    background-color: transparent;
}

#open,
#close {
    display: none;
    font-size: 2em;
    margin: 0 2rem;
    height: 30px;
    width: 30px;
}

header nav.open {
    transform: translateY(0);
}