a {
	// Couleurs
	color: $color__link;
	// Font
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	line-height: 33px;
	// Soulignement
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-style: "solid";
	text-decoration-style: "solid";
	-webkit-text-decoration-color: $color__link;
	text-decoration-color: $color__link;
	text-decoration-thickness: 10px;
	// Transition
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;

	&:hover {
		color: $color__link-hover;
		-webkit-text-decoration-color: $color__link-hover;
		text-decoration-color: $color__link-hover;
		letter-spacing: 1px;
		outline: 0;
	}
}