.artistes {
    div.grid-gallery {
        // Grid
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;

        article {
            // Flex
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            &:nth-child(odd) {
                border-right: solid 2px black;
            }

            hr {
                width: 97%;
                justify-items: end;
                @extend .centered;
            }

            figure {
                // Flex
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                gap: 1vw;
                // Taille
                width: 100%;

                img {
                    margin: .9rem;
                    // Taille
                    width: 200px;
                    height: 200px;
                }

                figcaption {
                    margin-right: 1rem;

                    p.description {
                        color: $color__link-hover;
                        margin-bottom: 1rem;
                        background-color: red;
                    }

                    span.place {
                        font-size: 1rem;
                    }
                }

            }
        }
    }

    //-------------------------
    // Responsive
    //-------------------------
    @include responsive("lg-desktop") {
        div.grid-gallery {
            article {
                figure img {
                    width: 160px;
                }
            }
        }
    }

    @include responsive("md-desktop") {
        div.grid-gallery {
            grid-template-columns: repeat(1, 1fr);

            article {
                &:nth-child(odd) {
                    border-right: inherit;
                }

                figure img {
                    width: 400px;
                }
            }
        }
    }

    @include responsive("md-tablet") {
        div.grid-gallery {
            article {
                figure img {
                    width: 200px;
                }
            }
        }
    }

    @include responsive("sm-phone") {
        div {
            article {
                hr {
                    display: none;
                }

                figure {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}